#editor-wrapper {
    background: white;
    font-family: monospace;
    /* border: 2px solid darkgray */
    display: grid;
    grid-template-columns: 5% auto;
    grid-template-rows: auto;
}

.full-width {
    grid-column: 1/ span 2;
    padding: 1em;
}

#line-numbers {
    height: 600px;
    overflow: hidden;
    margin-top: 0.35em;
    line-height: 1.25em;
}

textarea {
    width: 100%;
    height: 600px;
    resize: none;
    line-height: 1.25em;
}