#graph-wrapper {
    display: grid;
    grid-template-rows: 600px 1fr;
    align-items: center;
}

#graph-configs {
    display: grid;
    /* We use a 1/2.5 ratio to align with generator toolbar below */
    grid-template-columns: 1fr 2.5fr;
    background: hsla(224, 67%, 65%, 0.555);
}

#graph-visualizers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}