input.invalid {
    border: 1px solid red;
}

.errorText {
    font-weight: bold
}

#generator-wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 1em;
    align-items: center;
    background: hsla(123, 59%, 69%, 0.555);
    font-family: 'Label';
}

#generator-wrapper > label {
    font-family: 'LabelBold';
}

#generator-wrapper .param {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#generator-wrapper .errorText {
    font-weight: bold;
    grid-column: 1 / span 2;
}