/*
So you want equal width columns in CSS Grid, eh?

https://twitter.com/wesbos/status/1256229763225657348/photo/1
https://css-tricks.com/preventing-a-grid-blowout/
*/

#generator-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) 0.5fr;
    column-gap: 1%;
    align-items: center;
    background: hsla(123, 59%, 69%, 0.555);
}

 .cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
}

.span-2 {
    grid-column-end: span 2;
}